/* style.css */

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.flex {
  display:flex;
}

.width {
  width: 1200px;
}

.content {
  gap: 64px;
}

.placeholder {
  padding: 16px;
  background-color: #e5e7eb;
}

.hero {
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 18px;
  flex-direction: column;
  align-items:center;
}

nav {
  margin: 16px;
}

nav .logo {
  margin-right: auto;
  color: #f9faf8;
  font-size: 24px;
  font-weight: 800;
}


nav ul{
  display: flex;
  list-style-type:none;
  margin: 0;
  padding: 0;
  flex: 0;
  gap: 32px;
}

.hero .content{
  justify-content: space-between;
  margin: 150px 0;
}

.hero h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin: 16px 0;
}

.hero button {
  color: inherit;
  background-color: #3882f6;
  padding: 6px 14px;
  border: 0;
  border-radius: 4px;
  font-weight: 700;
}

.info {
  color: #49494D;
  justify-content: center;
}

.info h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}

.info img{
  width: 200px;
  height: 200px;
  border: 4px solid #3882f6;
  border-radius: 24px;
}

.info .content {
  margin: 80px 0;
  justify-content: center;
}

.info .flex {
  gap: 32px;
  justify-content: center;
}

.info .container {
  text-align: center;
}

.container p {
  max-width: 200px;
}
