/* style.css */

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.hero {
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 18px;
}

.hero ul{
  display: flex;
  list-style-type:none;
  margin: 0;
  padding: 0;
  flex: 0;
}

.hero ul .logo{
  margin-right: auto;
}


.hero ul{
  display: flex;
  list-style-type:none;
  margin: 0;
  padding: 0;
  flex: 0;
}

.hero h1 {
  font-size: 48px;
  font-weight: extra-bold;
  color: #f9faf8;
}

body .flex {
  display: flex;
}
